<!-- table of templates -->
<div class="existing-templates" data-new-template-target="rows" data-controller="edit-template"></div>
  <% @templates.each do |template| %>
    <!-- each template's info -->
    <div class="info shadow-sm">
      <p><%= template.updated_at.strftime("%D") %></p>
      <div class="info-content col-3"><%= template.name %></div>
      <div class="info-content col-3">
        <%# template.body.scan(/<<(.+?)>>/).flatten.join(", ") %>
        <%= template.subject %>
      </div>

      <!-- edit/delete buttons -->
      <div class="info-actions">
        <!-- edit btn -->
        <button class="edit-form-btn" type="button" data-bs-toggle="offcanvas"
          data-bs-target="#offcanvasRight<%= "canvas-#{template.id}" %>"
          aria-controls="offcanvasRight<%= "canvas-#{template.id}" %>">
            Edit <i class="fas fa-pencil-alt"></i>
        </button>

        <!-- off-canvas edit form -->
        <div class="offcanvas offcanvas-end bg-canvas text-canvas" tabindex="-1" id="offcanvasRight<%= "canvas-#{template.id}" %>" aria-labelledby="offcanvasRightLabel">
          <!-- header -->
          <div class="offcanvas-header">
            <h2>Edit Template</h2>
          </div>

          <!-- body -->
          <div class="offcanvas-body">
            <%= render "form2", template: template %>
          </div>
        </div>

        <!-- delete btn -->
        <%= link_to template_path(template), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} do %>
          <p>Delete <i class="far fa-trash-alt"></i></p>
        <% end %>
      </div>
    </div>
  <% end %>
</div>
