<div class="wrapperbody">
  <%= render "shared/sidebar" %>
  <div class="main-content ms-3" data-controller="new-template">

    <div class ="navbar mx-5 my-1">
      <div><h1>Templates</h1></div>
    </div>

    <div class="trigger-labels">
      <p>Date Added</p>
      <p class="col-2 flex-grow-1 ms-2">Template Name</p>
      <p class="col-6">Variables</p>
    </div>

    <div class="new-template border border-primary d-flex justify-content-center mb-3 rounded" >
      <p class="align-self-center fw-bold my-2" data-action="click->new-template#revealForm">New template</p>
    </div>
    <div class="template-form d-none" data-new-template-target="form">
        <%= simple_form_for(@template, html: { class: "mb-3"}, data: {new_template_target: "submit",
        action: "submit->new-template#create"}) do |f| %>
          <%= f.input :name %>
          <%= f.input :subject %>
          <%= f.input :body %>
          <%= f.submit %>
        <% end %>
    </div>
    <%= render 'template_rows', templates: @templates %>
  </div>
</div>
