<div class="row m-0 p-0">
  <%= render "shared/sidebar" %>
  <div class="col-10 flex-grow-1 main-content" data-controller="new-template">
    <div class ="navbar">
      <div><h1>Templates</h1></div>
    </div>

    <div class="new-template border border-primary d-flex justify-content-center mb-3 rounded" >
      <button class="align-self-center fw-bold btn-reveal" data-action="click->new-template#revealForm">New Email Template</button>
    </div>
    <div class="template-form d-none" data-new-template-target="form">
      <div class="row d-flex justify-content-center">
        <div class="col-7">
          <%= render 'form', template: @template %>
        </div>

        <div class="col-4 border border-dark p-2 me-2">
          <h3>Note on Variables:</h3>
          <p>In order for QuickReach to accurately use your template, please use the following components in your body wrapped in <%= "<< >>" %>:</p>
          <ul>
            <li>account_name (e.g. Grab)</li>
            <li>contact_fn (contact's first name e.g. Bob)</li>
            <li>account_category (e.g. transportation)</li>
          </ul>

          <p>Example: </p>
          <p>Hello <%= "<<contact_fn>>" %>!
            Just wanted to check in as recently we have seen that <%= "<<account_name>>" %>
            is experiencing some challenges with profitability. Keen to understand
            your challenges better to see if we can support your effort in keeping
            <%= "<<account_name>>" %> as a leader in the <%= "<<account_category>>" %> sector.</p>
        </div>
      </div>
    </div>

    <div class="trigger-labels fw-bold">
      <p class="col-1">Date</p>
      <p class="col-2 flex-grow-1 ms-2">Template Name</p>
      <p class="col-6">Variables</p>
    </div>

    <%= render 'template_rows', templates: @templates %>
  </div>
</div>
