<div class="sidebar sticky-top">
  <ol class="list-for-items">
    <li><%= link_to "Dashboard", root_path, class:"btn side-nav-btn" %></li>
    <li><%= link_to "Accounts", accounts_path, class:"btn side-nav-btn" %></li>
    <li><%= link_to "Templates", root_path, class:"btn side-nav-btn" %></li>
    <li><%= link_to "Triggers", root_path, class:"btn side-nav-btn" %></li>
    <li><%= link_to "Drafts", root_path, class:"btn side-nav-btn" %></li>
  </ol>
</div>
