<div class ="d-flex justify-content-center align-items-center" style="min-height: 90vh;">
  <div class="p-3 rounded-3 text-center">
    <div>
      <h1>Welcome <%= current_user.first_name %>!</h1>
      <h2>To get started: select your CRM below</h2>
    </div>

    <div class="my-5 d-flex justify-content-center">
      <%= link_to cl_image_tag("v1662372480/development/salesforce.png", class: "crm-icon rounded-3 mx-3", width: 150, height: 150, crop: :fill), salesforce_path %>
      <%= link_to cl_image_tag("v1662372243/development/hubspot.jpg", class: "crm-icon rounded-3 mx-3", width: 150, height: 150, crop: :fill), "salesforce_path" %>
      <%= link_to cl_image_tag("v1662372241/development/zoho.jpg", class: "crm-icon rounded-3 mx-3", width: 150, height: 150, crop: :fill), "salesforce_path" %>
      <%= link_to cl_image_tag("v1662372239/development/sugar.png", class: "crm-icon rounded-3 mx-3", width: 150, height: 150, crop: :fill), "salesforce_path" %>
    </div>

    <a href="#">None of the above? Click here for custom integration</a>
  </div>
</div>
