<div class="row" data-controller="keywords-for-trigger">
  <%= simple_form_for(trigger) do |f| %>

    <div class="d-flex col-12">
      <div class="p-2 col-6"><%= f.input :name, label: "Trigger Name" %></div>
      <div class="p-2 col-6"><%= f.association :account, prompt:"Choose a company" %></div>
    </div>

    <div class="col-12 p-2">
    <%= f.simple_fields_for :keywords do |k| %>
      <div class="">
        <%= k.input :name, class:"col-10", placeholder: "Enter a Keyword" %>
        <%= k.button :submit, class: "btn", data: { action: "submit->keywords-for-trigger#addKeys" } %>
      </div>
    <% end %>

      <div class="d-flex mt-3 align-items-center" data-keywords-for-trigger-target ="pillDisplay">
        <span class="keyword bg-dark-blu text-dy text-xs p-2 rounded-pill me-2">Keyword <i class="fa fa-times"></i></span>
        <span class="keyword bg-dark-blu text-dy text-xs p-2 rounded-pill me-2">Keyword <i class="fa fa-times"></i></span>
        <span class="keyword bg-dark-blu text-dy text-xs p-2 rounded-pill me-2">Keyword <i class="fa fa-times"></i></span>
      </div>
    </div>

    <div class="p-2">
      <%= f.button :submit, input_html: { class: "" } %>
    </div>
  <% end %>
</div>
