<div class="trigger-form" data-controller="trigger-form">

  <div>
    <% trigger.keywords.each do |keyword| %>
      <%= render "keyword", keyword: keyword %>
    <% end %>

    <%= render 'keywords_create', trigger: trigger, keyword: @keyword %>
  </div>

  <%= simple_form_for trigger, data: {controller: "filter-contacts"} do |form2| %>
    <%= form2.input :name, label: "Trigger Name" %>
    <%= form2.association :account, collection: policy_scope(Account), prompt:"Choose a company", input_html: {data: {action: "change->filter-contacts#select"}} %>

    <% label_method = proc { |p| "#{p.first_name} #{p.last_name} - #{p.title}" } %>
    <%= form2.association :contact, input_html: {data: {filter_contacts_target: "selection"}}, label_method: label_method, prompt:"Choose an email recipient" %>

    <%= form2.association :template, prompt:"Choose an email template" %>

    <!-- add keyword btn -->
    <%#= link_to_add_nested(form2, :keywords, '#keywords2', link_classes:'m-0') do %>
      <%# <button class="mt-3 qt-btn p-1" style="width: 250px;">Click to add a new keyword</button> %>
    <%# end %>

    <!-- each keyword input box -->
    <%# <div id='keywords2'> %>
      <%#= form2.fields_for :keywords2 do |keywords_f| %>
        <%#= render 'keyword_fields2', form2: keywords_f %>
      <%# end %>
    <%# </div> %>

    <br>
    <%= form2.submit class: 'qt-btn' %>
  <% end %>
</div>
