<div class="row" data-controller="keywords-for-trigger">
  <%= simple_form_for(trigger) do |f| %>

    <div class="d-flex col-12">
      <div class="p-2 col-12"><%= f.input :name, label: "Trigger Name" %></div>
    </div>
    <div class="d-flex col-12">
      <div class="p-2 col-6"><%= f.association :account, prompt:"Choose a company" %></div>
      <% label_method = proc { |p| "#{p.first_name} #{p.last_name} - #{p.title}" } %>
      <div class="p-2 col-6"><%= f.association :contact, label_method: label_method, prompt:"Choose the email recipient" %></div>
    </div>
    <div class="d-flex col-12">
      <div class="p-2 col-12"><%= f.association :template, prompt:"Choose the email template" %></div>
    </div>
    <div class="col-12 p-2">

      <div class="d-flex mt-3 align-items-center" data-keywords-for-trigger-target ="keyDisplay">
        <label for="key1">
          <span class="keyword bg-dark-blu text-dy text-xs p-2 rounded-pill me-2">Keyword <i class="fa fa-times"></i></span>
        </label>
        <input type="checkbox" name="key1" id="key1">

        <span class="keyword bg-dark-blu text-dy text-xs p-2 rounded-pill me-2">Keyword <i class="fa fa-times"></i></span>

        <span class="keyword bg-dark-blu text-dy text-xs p-2 rounded-pill me-2">Keyword <i class="fa fa-times"></i></span>

      </div>
    </div>

    <div class="p-2">
      <%= f.submit %>
    </div>
  <% end %>
</div>
