<div class="trigger-form" data-controller="trigger-form">
  <%= simple_form_for trigger, data: {controller: "filter-contacts"} do |form| %>
    <%= form.input :name, label: "Trigger Name" %>
    <%= form.association :account, collection: policy_scope(Account), prompt:"Choose a company", input_html: {data: {action: "change->filter-contacts#select"}} %>

    <% label_method = proc { |p| "#{p.first_name} #{p.last_name} - #{p.title}" } %>
    <%= form.association :contact, input_html: {data: {filter_contacts_target: "selection"}}, label_method: label_method, prompt:"Choose an email recipient" %>

    <%= form.association :template, prompt:"Choose an email template" %>

    <%= form.submit class: 'qt-btn mt-3' %>
  <% end %>
</div>
