<% @triggers.each do |trigger| %>
  <div class="info responsive-font-reg">
    <!-- each trigger's info -->
    <p class="col-1"> <%= trigger.updated_at.strftime("%D") %> </p>
    <p class="info-content col-3"><%= trigger.name %></p>
    <p class="info-content col-3"><%= trigger.account.name %></p>
    <p class="info-content col-3"><%= trigger.template.name %></p>

    <!-- edit/delete buttons -->
    <div class="info-actions">
      <!-- edit btn -->
      <button class="edit-form-btn" type="button" data-bs-toggle="offcanvas"
        data-bs-target="#offcanvasRight<%= "canvas-#{trigger.id}" %>"
        aria-controls="offcanvasRight<%= "canvas-#{trigger.id}" %>">
          Edit <i class="fas fa-pencil-alt"></i>
      </button>

      <!-- off-canvas edit form -->
      <div class="offcanvas offcanvas-end bg-canvas text-canvas" tabindex="-1" id="offcanvasRight<%= "canvas-#{trigger.id}" %>" aria-labelledby="offcanvasRightLabel">
        <div class="offcanvas-header">
          <h2>Edit Trigger</h2>
        </div>

        <div class="offcanvas-body">
          <%= render "keywords_form", trigger: trigger %>
          <%= render "other_info_form", trigger: trigger %>
        </div>
      </div>

      <!-- delete btn -->
      <%= link_to trigger_path(trigger), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} do %>
        <p>Delete <i class="far fa-trash-alt"></i></p>
      <% end %>
    </div>
  </div>
<% end %>
