<div class="row m-0 p-0">
  <%= render "shared/sidebar" %>
  <div class="col-10 flex-grow-1 main-content" data-controller="new-trigger">
    <div class ="navbar">
      <div><h1>Triggers</h1></div>
    </div>

    <div class="new-trigger border border-primary d-flex justify-content-center mb-3 p-0 rounded" >
      <button class="align-self-center btn-reveal fw-bold" data-action="click->new-trigger#revealForm">New Trigger</button>
    </div>

    <!-- new form item -->
    <div class="trigger-form d-none mb-5" data-new-trigger-target="form">
      <%= render "form2", trigger: @trigger %>
    </div>

    <!-- details -->
    <div class="trigger-labels fw-bold">
      <p class="col-1">Date</p>
      <p class="col-3">Trigger Name</p>
      <p class="col-3">Account</p>
      <p class="col-3">Keywords</p>
      <p class="col-1">Actions</p>
    </div>
    <!-- display for each item-->
    <% @triggers.each do |trigger| %>
      <div class="info">
        <%= trigger.updated_at.strftime("%D") %>
        <div class="info-content col-3">
          <%= trigger.name %>
        </div>
        <div class="info-content col-3">
          <%= trigger.account.name %>
        </div>

        <div class="info-content col-3">
          <% trigger.keywords.each do |keyword| %>
            <%= keyword.name %>,
          <% end %>
        </div>


        <div class="info-actions">
          <!-- off canvas for trigger editing -->
          <!-- btn -->
            <button class="edit-form-btn" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight" aria-controls="offcanvasRight">Edit Trigger <i class="fas fa-pencil-alt"></i></button>
          <!-- content-->
            <div class="offcanvas offcanvas-end bg-dark-blu text-dy" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
              <div class="offcanvas-header">
                <div id="offcanvasRightLabel">
                  <h2><strong><%= trigger.name %></strong></h2>
                </div>

                <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
              </div>
              <div class="offcanvas-body">
                <div class="d-flex align-items-center justify-content-center">
                  <div class="w-100">
                    <%= render "form2", trigger: trigger %>
                  </div>
                </div>
              </div>
            </div>
          <%= link_to trigger_path(trigger),
            data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} do
          %>
          <p>Delete <i class="far fa-trash-alt"></i></p>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
</div>
