<div class="row m-0 p-0">
  <%= render "shared/sidebar" %>

  <div class="col-10 flex-grow-1 main-content align-self-center min-vh-100" data-controller="new-trigger">
    <!-- main header -->
    <div class="navbar mb-3">
      <h1 class="m-0 responsive-font-lg">Triggers</h1>
      <button class="qt-btn w-25 fw-bold responsive-font-reg" data-action="click->new-trigger#revealForm">New Trigger</button>
    </div>

    <!-- new trigger form -->
    <div class="trigger-form d-none mb-5 border rounded-3 p-3 bg-light" data-new-trigger-target="form">
      <%= render "form", trigger: @trigger %>
    </div>

    <!-- table headers -->
    <div id="header">
      <p class="col-1">Date</p>
      <div class="info-content col-3"><p>Name</p></div>

      <div class="info-content col-3">
        <p>Account</p>
        <div class="dropdown">
          <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
            <i class="fa-solid fa-filter"></i>
          </button>
          <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
          <%= @triggers.each do |trigger| %>
            <li><%= link_to triggers_path trigger.account.name, class:"dropdown-item" %></li>
          <% end %>
          </ul>
        </div>
      </div>

      <div class="info-content col-3"><p>Template</p></div>
      <div class="info-action px-3"><p class="px-5">Actions</p></div>
    </div>

    <!-- table of triggers -->
    <% @triggers.each do |trigger| %>
      <div class="info responsive-font-reg">
        <!-- each trigger's info -->
        <p class="col-1"> <%= trigger.updated_at.strftime("%D") %> </p>
        <p class="info-content col-3"><%= trigger.name %></p>
        <p class="info-content col-3"><%= trigger.account.name %></p>
        <p class="info-content col-3"><%= trigger.template.name %></p>

        <!-- edit/delete buttons -->
        <div class="info-actions">
          <!-- edit btn -->
          <button class="edit-form-btn" type="button" data-bs-toggle="offcanvas"
            data-bs-target="#offcanvasRight<%= "canvas-#{trigger.id}" %>"
            aria-controls="offcanvasRight<%= "canvas-#{trigger.id}" %>">
              Edit <i class="fas fa-pencil-alt"></i>
          </button>

          <!-- off-canvas edit form -->
          <div class="offcanvas offcanvas-end bg-canvas text-canvas" tabindex="-1" id="offcanvasRight<%= "canvas-#{trigger.id}" %>" aria-labelledby="offcanvasRightLabel">
            <div class="offcanvas-header">
              <h2>Edit Trigger</h2>
            </div>

            <div class="offcanvas-body">
              <%= render "keywords_form", trigger: trigger %>
              <%#= render "other_info_form", trigger: trigger %>
            </div>
          </div>

          <!-- delete btn -->
          <%= link_to trigger_path(trigger), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} do %>
            <p>Delete <i class="far fa-trash-alt"></i></p>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
</div>
