<div class="wrapperbody">
  <%= render "shared/sidebar" %>
  <div class="main-content ms-3" data-controller="new-trigger">
    <div class ="navbar mx-5 my-1">
      <div><h1>Triggers</h1></div>
    </div>

    <div class="new-trigger border border-primary d-flex justify-content-center mb-3 rounded" >
      <p class="align-self-center fw-bold my-2" data-action="click->new-trigger#revealForm">New Trigger</p>
    </div>

    <!-- new form item -->
    <div class="trigger-form d-none" data-new-trigger-target="form">
      <%= render "form2", trigger: @trigger %>
    </div>

    <!-- details -->
    <div class="trigger-labels fw-bold">
      <p>Date</p>
      <p class="col-3">Trigger Name</p>
      <p class="col-3">Account</p>
      <p class="col-3">Keywords</p>
      <p>Template</p>
    </div>
    <!-- display for each item-->
    <% @triggers.each do |trigger| %>
      <div class="info">
        <%= trigger.updated_at.strftime("%D") %>
        <div class="info-content col-3">
          <%= trigger.name %>
        </div>
        <div class="info-content col-3">
          <%= trigger.account.name %>
        </div>

        <div class="info-content col-3">
          <% trigger.keywords.each do |keyword| %>
            <%= keyword.name %>,
          <% end %>
        </div>

        <div class="info-actions">
          <a href="#">Edit <i class="fas fa-pencil-alt"></i></a>
          <a href="#">Delete <i class="far fa-trash-alt"></i></a>
        </div>
      </div>
    <% end %>
  </div>
</div>


<!--

  <div class="accordion accordion-borderless" id="accordionFlushExampleX">
    <div class="accordion-item">
      <h2 class="accordion-header" id="flush-headingOneX">
        <button class="accordion-button" type="button" data-mdb-toggle="collapse"
          data-mdb-target="#flush-collapseOneX" aria-expanded="true" aria-controls="flush-collapseOneX">
          Accordion Item #1
        </button>
      </h2>
      <div id="flush-collapseOneX" class="accordion-collapse collapse show"
        aria-labelledby="flush-headingOneX" data-mdb-parent="#accordionFlushExampleX">
        <div class="accordion-body">
          <%= render "form", trigger: @trigger %>
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header" id="flush-headingTwoX">
        <button class="accordion-button collapsed" type="button" data-mdb-toggle="collapse"
          data-mdb-target="#flush-collapseTwoX" aria-expanded="false" aria-controls="flush-collapseTwoX">
          Accordion Item #2
        </button>
      </h2>
      <div id="flush-collapseTwoX" class="accordion-collapse collapse" aria-labelledby="flush-headingTwoX"
        data-mdb-parent="#accordionFlushExampleX">
        <div class="accordion-body">
          <%# <%= render "keywords/form",  keyword: @keyword %> %>
        </div>
      </div>
    </div>
  </div>
-->
