<div class="wrapperbody">
  <%= render "shared/sidebar" %>
  <div class="main-content ms-3">

    <div class ="navbar mx-5 my-1">
      <div><h1>Triggers</h1></div>
    </div>

    <div class="trigger-labels">
      <p>Date Added/<br>Updated</p>
      <p class="col-3">Trigger Name</p>
      <p class="col-3">Account</p>
      <p class="col-3">Keywords</p>
      <p>Template</p>
    </div>

    <% @triggers.each do |trigger| %>
      <div class="info">
        <%= trigger.updated_at.strftime("%d/%m/%Y") %>
        <div class="info-content col-3">
          <%= trigger.name %>
        </div>
        <div class="info-content col-3">
          <%= trigger.account.name %>
        </div>

        <div class="info-content col-3">
          <% trigger.keywords.each do |keyword| %>
            <%= keyword.name %>,
          <% end %>
        </div>

        <div class="info-actions">
          <a href="#">Edit <i class="fas fa-pencil-alt"></i></a>
          <a href="#">Delete <i class="far fa-trash-alt"></i></a>
        </div>
      </div>
    <% end %>
    <hr>
    <%= render "form", trigger: @trigger %>
  </div>
</div>
