<div class="wrapperbody">
  <%= render "shared/sidebar" %>
  <div class="main-content ms-3">

    <div class ="navbar">
      <div><h1>Accounts</h1></div>
      <%# <div>Search bar</div> %>
    </div>

    <!-- grid for cards -->
    <div class="row">
      <% @accounts.each do |account| %>
        <%= link_to account_path(account.id), class:"col-3 p-0 m-0 account-card-text" do %>
          <!-- card container -->
          <div class="account-card p-0 m-2">
            <!-- card status -->
            <div class="account-card-stripe">
            </div>

            <div class="account-card-content">
              <!-- top section -->
              <div class="d-flex justify-content-center">
                <!-- company name -->
                <div class="m-2"><h4><strong><%= account.name %></strong></h4></div>
              </div>

              <div class="card-body ps-3">
                <!-- textfield -->
                <div class = "account-card-text">
                  <p><strong>Account Status:</strong> <%= account.status %></p>
                  <p><strong>Potential Revenue:</strong> $<%= account.potential_rev %></p>
                  <!-- end of text field -->
                </div>
              </div>
            </div>
            <!-- end of card -->
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
