<div class="row m-0 p-0">
  <%= render "shared/sidebar" %>
  <div class="col-10 flex-grow-1 main-content">

    <div class ="navbar">
      <div><h1 class=" responsive-font-lg">Accounts</h1></div>
      <div class="search-form-control form-group">
      <%= form_with url: accounts_path, method: :get, class: "d-flex" do %>
        <%= text_field_tag :query,
          params[:query],
          class: "form-control bar-mid-width",
          id: "search_query",
          placeholder: "Search for an account!"
        %>

        <%= button_tag type:'submit', class:"btn bg-transparent" do %>
          <i class="fa-solid fa-magnifying-glass"></i> Search
        <% end %>
      <% end %>
    </div>
    </div>

    <% if @accounts.count == 0%>
      <p><%= link_to "Please integrate QuickReach with your CRM to view accounts", pages_path, class: "fs-3" %></p>
    <% end %>

    <!-- grid for cards -->
    <div class="row">
      <% @accounts.each do |account| %>
        <%= link_to account_path(account.id), class:"col-3 p-0 m-0 account-card-text" do %>
          <!-- card container -->
          <div class="account-card p-0 m-2">
            <!-- card status -->
            <div class="account-card-stripe <%= 'trigger-on' if account.triggers.count > 0 %>">
            </div>

            <div class="account-card-content">
              <!-- top section -->
              <div class="d-flex justify-content-center">
                <!-- company name -->
                <div class="m-2 responsive-font-large"><h4><strong><%= account.name %></strong></h4></div>
              </div>

              <%# <div class="card-body d-flex align-items-center p-3"> %>
                <!-- textfield -->
                <div class="card-text responsive-font-reg p-3">
                  <p>Account Status: <small><%= account.status.capitalize %></small></p>
                  <p>Category: <small><%= account.category.capitalize %></small></p>
                  <p>Potential Revenue: <small>$<%= account.potential_rev %></small> </p>
                  <!-- end of text field -->
                </div>
              <%# </div> %>
            </div>
            <!-- end of card -->
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
