<div class="row m-0 p-0">
  <%= render "shared/sidebar" %>
  <div class="col-10 flex-grow-1 main-content">

    <div class ="navbar">
      <div><h1>Accounts</h1></div>
      <%# <div>Search bar</div> %>
    </div>

    <% if @accounts.count == 0%>
      <p><%= link_to "Please integrate QuickReach with your CRM to view accounts", pages_path, class: "fs-3" %></p>
    <% end %>

    <!-- grid for cards -->
    <div class="row">
      <% @accounts.each do |account| %>
        <%= link_to account_path(account.id), class:"col-3 p-0 m-0 account-card-text" do %>
          <!-- card container -->
          <div class="account-card p-0 m-2">
            <!-- card status -->
            <div class="account-card-stripe <%= 'trigger-on' if account.triggers.count > 0 %>">
            </div>

            <div class="account-card-content">
              <!-- top section -->
              <div class="d-flex justify-content-center">
                <!-- company name -->
                <div class="m-2"><h4><strong><%= account.name %></strong></h4></div>
              </div>

              <div class="card-body ps-3">
                <!-- textfield -->
                <div>
                  <p><strong>Account Status:</strong> <%= account.status %></p>
                  <p><strong>Potential Revenue:</strong><br> $<%= account.potential_rev %></p>
                  <!-- end of text field -->
                </div>
              </div>
            </div>
            <!-- end of card -->
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
